<footer class="footer">
    <p class="copy">Copyright &copy; 2022 <span>otmane douieb</span></p>
    <div class="social-icons">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
</footer>
</body>
</html>