<%- include('partials/header.ejs') -%>


    <!-- Header Start -->
    <header>
        <a href="#" class="logo">Otmane</a>
        <nav class="navigation">
            <a href="#services">services</a>
            <a href="#projects">projects</a>
            <a href="#contacts">contacts</a>
        </nav>
    </header>
    <!-- Header End -->
    <!-- Main Section Start -->
    <section class="main-section">
        <div>
            <h2>hello, i'm Otmane<br><span>Content Creator</span></h2>
            <h3>I build life changing courses</h3>
            <a href="#projects" class="main-btn">View my work</a>
            <div class="social-icons">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </section>
    <!-- Main Section End -->
    <!-- Services Start -->
    <section class="cards" id="services">
        <h2 class="title">Services</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="info">
                    <h3>script writing</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint similique quos eaque porro sit explicabo, voluptate deleniti, laudantium illo quae a consequatur ut exercitationem accusantium, earum sequi? Placeat, nam ab!
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="icon">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="info">
                    <h3>script writing</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint similique quos eaque porro sit explicabo, voluptate deleniti, laudantium illo quae a consequatur ut exercitationem accusantium, earum sequi? Placeat, nam ab!
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="icon">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="info">
                    <h3>script writing</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint similique quos eaque porro sit explicabo, voluptate deleniti, laudantium illo quae a consequatur ut exercitationem accusantium, earum sequi? Placeat, nam ab!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->

    <section class="projects" id="projects">
        <h2 class="title">Projects</h2>
        <div class="content">
            <div class="project-card">
                <div class="project-img">
                    <img src="img/work1.jpg">
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & vedio production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a class="more-details" href="#">more details</a>
                    </strong>
                </div>
            </div>

            <div class="project-card">
                <div class="project-img">
                    <img src="img/work1.jpg">
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & vedio production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a class="more-details" href="#">more details</a>
                    </strong>
                </div>
            </div>

            <div class="project-card">
                <div class="project-img">
                    <img src="img/work1.jpg">
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & vedio production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a class="more-details" href="#">more details</a>
                    </strong>
                </div>
            </div>

            <div class="project-card">
                <div class="project-img">
                    <img src="img/work1.jpg">
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & vedio production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a class="more-details" href="#">more details</a>
                    </strong>
                </div>
            </div>

            <div class="project-card">
                <div class="project-img">
                    <img src="img/work1.jpg">
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & vedio production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a class="more-details" href="#">more details</a>
                    </strong>
                </div>
            </div>

            <div class="project-card">
                <div class="project-img">
                    <img src="img/work1.jpg">
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & vedio production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a class="more-details" href="#">more details</a>
                    </strong>
                </div>
            </div>
        </div>
    </section>

    <section class="cards contact" id="contacts">
        <h2 class="title">Contact Me</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="info">
                    <h3>Phone</h3>
                    <p>
                        +2120612345
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="icon">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="info">
                    <h3>Email</h3>
                    <p>
                        test@test.com
                    </p>
                </div>
            </div>
        </div>
    </section>



    <%- include('partials/footer.ejs') -%>